*{
    font-family: 'Calibri', sans-serif;
}
body{
    padding-top: 30px;
}

#search input{
    width: 15vw;
    border-color: black;
}

#search button{
    width: 5vw;
    border-color: green;
}

tr button{
    height: 5vh;
    width: 5vw;
}


.calendar {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .calendar-weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .calendar-days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .calendar-day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .today {
    background-color: #007bff;
    color: #fff;
  }
  
  .selected {
    background-color: #f2f2f2;
  }

  .next-month{
    cursor: pointer;
  }
  .prev-month{
    cursor: pointer;
  }